<!DOCTYPE html>
<html>

<head>
    <title>ABOUT</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <div class=main-content>
        {{>header}}

        <img class="portrait" src="/img/myimg.jpeg">
    </div>
    <div>
        <a href="https://www.facebook.com/akarsh.saxena" target="_blank" class="fa fa-facebook"></a>
        <a href="https://twitter.com/AkarshSaxena14?s=09" target="_blank" class="fa fa-twitter"></a>
        <a href="https://www.instagram.com/akarsh_1630/" target="_blank" class="fa fa-instagram"></a>
        <a href="https://www.linkedin.com/in/akarsh-saxena-7a7130193/" target="_blank" class="fa fa-linkedin"></a>
    </div>
    {{>footer}}

</body>

</html>