<!DOCTYPE html>
<html>
    <head>
        <title>ABOUT</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather.png">
        
        
    </head>
<body>

<div class=main-content>
{{>header}}

<img class="portrait"src="/img/myimg.jpeg">
</div>
{{>footer}}

</body>
</html>