<!DOCTYPE html>
<html>

    <head>
        <title>HELP</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather.png">
    </head>
<body>
<div class="main-content">{{>header}}
<p>{{para}}</p>
        </div>

{{>footer}}

</body>
</html>