<!DOCTYPE html>
<html>

<head>
    <title>HELP</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>

<body>
    <div class="main-content">{{>header}}
        <p>Hey, how may I help you?</p>
        
        
    </div>
    <p>Contact: 8318044117</p>
    <p>Email: akarsh.saxena30@gmail.com</p>

    {{>footer}}

</body>

</html>